.gallows{
    margin-left: 25%; height: 386px; width: 267px;
}

#wrapper {
    background: url(../../Images/Hangman/background.jpg);
    background-size: 100% 95%;
    background-repeat: no-repeat;
}

#textToDisplay {
    letter-spacing: .5em;
}

.card-header {
    background: #0064EB;
    color: #fff;
    border: none;
    font-size: 24px;
}

.card-body {
    background: #EED995;
}

.image-container {
    background:none;
}

.hangman-card {
    background: none;
    border: none;
}

.jumbotron {
    background: none;
}

.jumbotron h1 {
    font-size: 50px;
}

.list-header {
    font-size: 24px;
    background: none;
}

.container {
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}
